body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-card {
  color: white;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
/* .contact-card:hover {
  background-color: #0b5ed7;
} */
